    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <title>Mazebase Game</title>
      <style>
            .modal-mask {
              position: fixed;
              z-index: 9998;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, .5);
              display: table;
              transition: opacity .3s ease;
            }

            .modal-wrapper {
              display: table-cell;
              vertical-align: middle;
            }

            .modal-container {
              width: 300px;
              margin: 0px auto;
              padding: 20px 30px;
              background-color: #fff;
              border-radius: 2px;
              box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
              transition: all .3s ease;
              font-family: Helvetica, Arial, sans-serif;
              font-size: 20px;
            }

            .modal-header h3 {
              margin-top: 0;
              color: #42b983;
              font-size: 10px;
            }

            .modal-body {
              margin: 10px 0;
              font-size: 15px;
            }

            .modal-default-button {
              float: right;
            }

            .modal-enter {
              opacity: 0;
            }

            .modal-leave-active {
              opacity: 0;
            }

            .modal-enter .modal-container,
            .modal-leave-active .modal-container {
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
            }
      </style>
    </head>

    <body>

      <script type="text/x-template" id="modal-template">
              <transition name="modal">
                <div class="modal-mask">
                  <div class="modal-wrapper">
                    <div class="modal-container">

                      <div class="modal-body">
                        <slot name="header">
                          GRID ITEMS: <br>
                          Grey Grid: Wall. <br>
                          White Grid: Open space. <br>
                          ------ <br> 
                          (A) = Your location! <br>
                          X = the door is locked, you cannot pass <br>
                          switch:0 = the switch if off <br>
                          switch:1 = the switch is on <br>
                          (To switch on, move (A) to the switch and press toggle switch button) <br>
                          ------ <br> 
                          BUTTONS: <br>
                          Up, Down, Left, Right: Navigate you (A) around the board <br>
                          Grab: Put axe, pickaxe in your inventory
                        </slot>
                      </div>

                      <div class="modal-footer">
                        <button class="modal-default-button" @click="$emit('close')">
                            Return to game
                      </button>
                      </div>

                      

                    </div>
                  </div>
                </div>
              </transition>
            </script>


      <div id="app" class="container-fluid">

        <div class="row mx-5" style="height: 70vh">

          <div class="col-8 h-50 align-self-center">
            <div class="row rounded h-25 w-70 m-auto" style="font-size: 3.0rem; height: 450px; width:450px" ref="gameboard" > 
              <div class="h-100 pr-2 col border border-dark" data-id="1" ref="1">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" style="width:40px;height:40px;">
                  <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" style="width:40px;height:40px;">
              </div>
              <div class="col pr-2 border border-dark" data-id="2" ref="2"></div>
              <div class="col pr-2 border border-dark" data-id="3" ref="3"></div>
              <div class="col pr-2 border border-dark" data-id="4" ref="4"></div>
              <div class="col pr-2 border border-dark" data-id="5" ref="5"></div>
              <div class="w-100"></div>

              <div class="h-100 pr-2 col border border-dark" data-id="6" ref="6"></div>
              <div class="col pr-2 border border-dark" data-id="7" ref="7"></div>
              <div class="col pr-2 border border-dark" data-id="8" ref="8"></div>
              <div class="col pr-2 border border-dark" data-id="9" ref="9"></div>
              <div class="col pr-2 border border-dark" data-id="10" ref="10"></div>
              <div class="w-100"></div>

              <div class="h-100 pr-2 col border border-dark" data-id="11" ref="11"></div>
              <div class="col pr-2 border border-dark" data-id="12" ref="12"></div>
              <div class="col pr-2 border border-dark" data-id="13" ref="13"></div>
              <div class="col pr-2 border border-dark" data-id="14" ref="14"></div>
              <div class="col pr-2 border border-dark" data-id="15" ref="15"></div>
              <div class="w-100"></div>

              <div class="h-100 pr-2 col border border-dark" data-id="16" ref="16"></div>
              <div class="col pr-2 border border-dark" data-id="17" ref="17"></div>
              <div class="col pr-2 border border-dark" data-id="18" ref="18"></div>
              <div class="col pr-2 border border-dark" data-id="19" ref="19"></div>
              <div class="col pr-2 border border-dark" data-id="20" ref="20"></div>
              <div class="w-100"></div>

              <div class="h-100 pr-2 col border border-dark" data-id="21" ref="21"></div>
              <div class="col pr-2 border border-dark" data-id="22" ref="22"></div>
              <div class="col pr-2 border border-dark" data-id="23" ref="23"></div>
              <div class="col pr-2 border border-dark" data-id="24" ref="24"></div>
              <div class="col pr-2 border border-dark" data-id="25" ref="25"></div>
              <div class="w-100"></div>

               <div class="col text-center" style="font-size: 0.9rem">
                <p class="my-3"> Inventory: {% raw %} {{ inventory }} {% endraw %}</p>
              </div> 

            </div>

          </div>

          <div class="col-4 pl-2 m-auto">

            <div class="row border rounded h-15 w-75 m-auto" style="font-size: 3.6rem" ref="startbuttoncontrol">
              <button class="btn btn-primary btn-block" ref="startbutton" type="submit" @click.prevent="start_press">START GAME</button> 
            </div>

            <div class="col text-center" style="font-size: 0.9rem">
                <p class="my-3"> GOAL: {% raw %} {{ goal }} {% endraw %}</p>
                <p class="my-3"> RECIPE: {% raw %} {{ recipe }} {% endraw %}</p>
              </div> 

            <div class="col h-25 text-center" style="background: rgb(114, 230, 147);">
              <p class="my-3"> Next Instruction: <br> {% raw %} {{ message }} {% endraw %} <br> </p>
            </div> 

        <form class="form-signin">
          <div class="form-label-group" ref="messageGroup">
              <input type="name" id="inputUsername" ref="message" class="form-control" placeholder="Write instructions here, then complete corresponding action." required="" autofocus="" maxlength="30" autocomplete="off"> 
              <button class="btn btn-lg btn-primary btn-block" ref="submitbutton" type="submit" @click.prevent="login">Submit</button> 

              <button class="btn btn-primary btn-block" id="show-modal" @click="showModal = true">Show Instructions!</button>
              <!-- use the modal component, pass in the prop -->
              <modal v-if="showModal" @close="showModal = false">
                <!--
                  you can use custom content here to overwrite
                  default content
                -->
                <!-- <h3 slot="header">custom header</h3> -->
              </modal>

          </div>
        </form>

        
          </div>
        </div>

        <div class="row" style="height: 20vh">

<div class="col-2 align-self-center">
        <div class="row border rounded h-50 w-15 m-auto" style="font-size: 1.0rem" ref="controls">
              <!-- <button class="btn btn-primary btn-block" ref="submitbutton1" type="submit" @click.prevent="up_press">Up</button> 
              <button class="btn btn-primary btn-block" ref="submitbutton1" type="submit" @click.prevent="down_press">Down</button> 
              <button class="btn btn-primary btn-block" ref="submitbutton1" type="submit" @click.prevent="left_press">Left</button> 
              <button class="btn btn-primary btn-block" ref="submitbutton1" type="submit" @click.prevent="right_press">Right</button>  -->
              <button class="btn btn-primary btn-block" ref="submitbutton1" type="submit" @click.prevent="grab_press">Grab</button> 
              <button class="btn btn-primary btn-block" ref="submitbutton1" type="submit" @click.prevent="toggle_press">Toggle Switch</button> 
              <button class="btn btn-primary btn-block" ref="submitbutton1" type="submit" @click.prevent="mine_press">Mine</button> 
              <button class="btn btn-primary btn-block" ref="submitbutton1" type="submit" @click.prevent="craft_press">Craft</button> 

            </div>
            </div>
            </div>

      </div>

      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.0.js"></script>

      <script>

        Vue.component('modal', {
          template: '#modal-template'
        })

        var app = new Vue({
          el: '#app',

          created () {

            let url = new URL(window.location.href);
            let name = url.searchParams.get("username");

            this.username = name

          },

          data: {
            username: '',
            players: 0,
            connectedPlayers: [],
            available: 0, //added this
            status: '',
            message: 'WRITE NEXT INSTRUCTION', // added this too
            inventory: 'placeholder message',
            goal: 'placeholder goal',
            recipe: 'placeholder recipe',
            firstPlayer: 0,
            showModal: false,
            turn: 0,
            boxes: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
          },

          methods: {

            startGame: function (name) {
              this.status = "Game started with " + name
              this.$refs.gameboard.classList.remove('invisible')
              //this.$refs.messageGroup.classList.remove('invisible')
              this.$refs.controls.classList.remove('invisible')
              this.$refs.startbuttoncontrol.classList.remove('invisible')

              // FIX THIS LATER..
              var array = JSON.parse($.ajax({
                    type: 'POST',       
                    url: "/start_game",
                    // headers: {'Content-Type':'application/json', 'Data-Type': 'json'},
                    data: JSON.stringify({"a": this.username}),
                    global: false,
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                    success: function(data) {
                        return data;
                    }
                }).responseText);

              for (i = 0; i < 25; i++) {                
                this.$refs[i+1].innerText = array["result"][i]
                this.boxes[i] = array["result"][i]
              }

            },

            login: function () {
              var message_received = this.$refs.message.value

              $.ajax({
                    type: 'POST',       
                    url: "/add_message",
                    data: JSON.stringify({"a": this.username, "action": message_received}),
                    global: false,
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                })

              this.message = message_received
              console.log(this.message)
              this.$refs.message.value = "";

            },

            // takes in the action to do as input and updates game accordingly
            do_action: function(action){

              var array = JSON.parse($.ajax({
                    type: 'POST',       
                    url: "/make_move",
                    data: JSON.stringify({"a": this.username, "action": action}),
                    global: false,
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                    success: function(data) {
                        return data;
                    }
                }).responseText);

              for (i = 0; i < 25; i++) {                
                this.$refs[i+1].innerText = array["result"][i]
                this.boxes[i] = array["result"][i]

                //change color if needed..
                if(array["color"][i] == "Blue"){
                  this.$refs[i+1].style.backgroundColor = "lightblue";
                }
                if(array["color"][i] == "Grey"){
                  this.$refs[i+1].style.backgroundColor = "grey";
                }

              }

              //console.log("sending boxes")

              if(array["complete"]){
                code = array["code"]
                this.$refs.gameboard.classList.add('invisible');
                confirm('TASK IS COMPLETE! EXIT OUT AND WRITE DOWN THIS CODE: ' + code)

              }
              else{
                //this.otherPlayerChannel.trigger('client-box-update', this.boxes)
              }  

              var str = ''; 
              for (let k of Object.keys(array["inventory"])) {
                  var v = array["inventory"][k];
                  if(str == ''){
                    str = str.concat(k, "=", v)
                  }
                  else{
                    str = str.concat(", ", k, "=", v)
                  }

              }

              //console.log(str)

              this.inventory = str

              this.$refs.message.focus()

            },


            up_press: function () {
              this.do_action("up");
            },

            down_press: function () {
              this.do_action("down");
            },

            left_press: function () {
              this.do_action("left");
            },

            right_press: function () {
              this.do_action("right");          
            },

            grab_press: function () {
              this.do_action("grab");
            },

            toggle_press: function () {
              this.do_action("toggle_switch"); 
            },

            mine_press: function () {
              this.do_action("mine");
            },

            craft_press: function () {
              this.do_action("craft");
            },

            //THE START RETURNS 
            start_press: function () {

              this.$refs.startbuttoncontrol.classList.add('invisible')

              var array = JSON.parse($.ajax({
                    type: 'POST',       
                    url: "/start_game",
                    data: JSON.stringify({"a": this.username}),
                    global: false,
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                    success: function(data) {
                        return data;
                    }
                }).responseText);

              for (i = 0; i < 25; i++) {                
                this.$refs[i+1].innerText = array["result"][i]
                this.boxes[i] = array["result"][i]

                //change color if needed..
                if(array["color"][i] == "Blue"){
                  this.$refs[i+1].style.backgroundColor = "lightblue";
                }
                if(array["color"][i] == "Grey"){
                  this.$refs[i+1].style.backgroundColor = "grey";
                }
              }

              this.goal = array["goal"]
              this.recipe = array["recipe"]

              window.addEventListener('keydown', function(e){

                if (e.which === 38) {
                  app.do_action("up");
                }

                if (e.which === 40) {
                  app.do_action("down");
                }

                if (e.which === 39) {
                  app.do_action("right");
                }

                if (e.which === 37) {
                  app.do_action("left");
                }

                if (e.which === 84) {
                  app.do_action("toggle_switch");
                }

                if (e.which === 71) {
                  app.do_action("grab");
                }

                if (e.which === 32) {
                  app.do_action("toggle_switch");
                }

                if (e.which === 67) {
                  app.do_action("craft");
                }

                if (e.which === 77) {
                  app.do_action("mine");
                }


                
              }.bind(this));

              this.$refs.message.focus()

            }


          }
        })
      </script>

    </body>
    </html>
